MCIS 540 - Assignment 4

4.1 Given three lists: list_1 = [1,2,3,4,16], list_2=["1","2","3","4","F"], and list_3= ["PA","NJ"]

4.2 Create a data frame using pandas package and the above lists so that list_1 and list_2 are indexed by list_3

4.3 Multiply every value by 5 (hint: use anonymous function, i.e. lamda function: e.g. df.apply(lamda x: x*2) will multiply every value by 2). Use markdown cells to discuss if there are problems with the results.

4.4 Use pandasâ€™ to_numeric method to clean up the data. (Note: you may have to use the optional errors argument, e.g. to_numeric (x, errors="coerce"). Remember, you also need to assign the results to a variable, either a new one or an existing one, for the next step.)

4.5 Now try again to multiply all the values by 5.

In [23]:
#Import NumPy and Pandas libraries
import numpy as np
import pandas as pd

#Hard code the provided lists into a data frame
df = pd.DataFrame(
[[1,2,3,4,16],
 ['1','2','3','4','F']],
index = ['PA','NJ'])
print(df)
print('\n')

#Multiply every value by 5 using lambda function
print(df.apply(lambda x: x*5))
print('\n')
#This only works correctly on the first row, 'PA' because the values are integers
#The values in the second row, 'NJ', are strings and the *5 operator repeats the string 5 times

#Cleaning data by converting strings to numeric values
df.loc['NJ',:] = pd.to_numeric(df.loc['NJ',:], errors="coerce")
print(df)
print('\n')
#All values were converted to integers, except for F which is not a number(NaN)

#Attempting to multiply again
print(df.apply(lambda x: x*5))
print('\n')

    0  1  2  3   4
PA  1  2  3  4  16
NJ  1  2  3  4   F


        0      1      2      3      4
PA      5     10     15     20     80
NJ  11111  22222  33333  44444  FFFFF


    0  1  2  3    4
PA  1  2  3  4   16
NJ  1  2  3  4  NaN


    0   1   2   3    4
PA  5  10  15  20   80
NJ  5  10  15  20  NaN